<!-- Single Student View -->
<!-- Using SingleCtrl for View -->
<h2>{{ single.heading }}</h2>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Adress</th>
      <th>Birthday</th>
      <th>email</th>
      <th>School Name</th>
      <th>Current Grade</th>
      <th>Years of Lessons</th>
      <th>Other Instruments</th>
      <th>Intrests</th>
      <th>Goals</th>
    </tr>
    <tr>
      <td>{{ single.student.firstName }}</td>
      <td>{{ single.student.lastName }}</td>
      <td>{{ single.student.phoneNumber }}</td>
      <td>{{ single.student.address }}</td>
      <td>{{ single.student.birthday }}</td>
      <td>{{ single.student.email }}</td>
      <td>{{ single.student.schoolName }}</td>
      <td>{{ single.student.currentGrade }}</td>
      <td>{{ single.student.yearsOfLessons }}</td>
      <td>{{ single.student.otherInstruments }}</td>
      <td>{{ single.student.intrests }}</td>
      <td>{{ single.student.goals }}</td>
    </tr>
  </table>
</div>
