<!-- Students List -->
<!-- Using ListCtrl for View -->
<h2>Student List</h2>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tr>
      <th>Students Name</th>
      <th>Parents Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Birthday</th>
      <th>Email</th>
      <th>School Name</th>
      <th>Current Grade</th>
      <th>Years of Lessons</th>
      <th>Other Instruments</th>
      <th>Reason For Lessons</th>
      <th>Goals</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr ng-repeat="student in students">
      <td><a ui-sref="single({id: student._id})">{{ student.studentsName }}</a></td>
      <td>{{ student.parentsName }}</td>
      <td>{{ student.phoneNumber }}</td>
      <td>{{ student.address }}</td>
      <td>{{ student.birthday }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.schoolName }}</td>
      <td>{{ student.currentGrade }}</td>
      <td>{{ student.yearsInLessons }}</td>
      <td>{{ student.otherInstruments }}</td>
      <td>{{ student.reasonForLessons }}</td>
      <td>{{ student.goals }}</td>
      <td><button type="button" class="btn btn-danger btn-xs" ui-sref="edit-entry({id: student._id})">Edit</button></td>
      <td><button type="button" class="btn btn-danger btn-xs" ng-click="deleteStudent(student._id)">Delete</button></td>
    </tr>
  </table>
</div>
